@import "tailwindcss/base";

@import "tailwindcss/components";
@import "../components/styles.css";

@import "tailwindcss/utilities";

@layer base {
  a {
    @apply text-blue-600 underline dark:text-blue-400;
  }
}

@layer utilities {
  .outline-blue {
    outline: 1px solid rgba(30, 64, 175, 1);
    outline-offset: 2px;
  }

  .outline-gray {
    outline: 1px solid rgba(156, 163, 175, 1);
    outline-offset: 2px;
  }
}
