.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 2.5rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
  color: #8b8b8b;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer .link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.link {
  color: inherit;
  text-decoration: none;
}

.signEmoji {
  display: block;
  text-align: center;
}

@media only screen and (min-width: 1200px) {
  .title {
    font-size: 3.5rem;
  }

  .signEmoji {
    display: inline;
  }
}
